

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Base {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-image: url("header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.header img{
  margin-top: 25vh;
  width: 40vw;
  height: 53vh;
  border-radius: 50%;
}

#bioClass {
  display: block;
}

#projectClass {
  display: none;
}

#storyClass {
  display: none;
}

#resumeClass {
  display: none;
}
